.cart {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}
.btn-cta {
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
}
.cart-checkout {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.cart-checkout > div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.image-container {
  width: 25rem;
}
.text-container-title {
  padding: 1rem 0;
}

.text-container-title > h6 {
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
}
